canvas {
	display: block;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: solid 1px black;
}
td {vertical-align: top;}
kbd { 
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;   
    font-size: 90%; background-color: #ddd;
    border: solid 1pt black; border-radius: 4px; padding: 0px 4px;
}
table{
    margin: auto;
    position: relative;
}
body {
    background-color: lightblue;
}
h1, h3{
    color: #330033;
    position: relative;
    text-align: center;
}
#instructions{
    width: 500px;
    color: #330033;
    margin: auto;
    position: relative;
    text-align: center;
}